<?xml version="1.0"?>
<PowerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PowerGroupList>
    <PowerGroup>
      <GroupName>网站设置</GroupName>
      <IsShow>true</IsShow>
      <Id>101</Id>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Sys/RoleList</ParamStr>
          <Name>角色管理</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1001</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>添加角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1002</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>更新角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1003</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>删除角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1004</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>权限分配</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1005</Id>
        </Power>
      </PowerList>
    </PowerGroup>
    <PowerGroup>
      <GroupName>博客管理</GroupName>
      <IsShow>true</IsShow>
      <Id>100</Id>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Sys/RoleList</ParamStr>
          <Name>角色管理</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1001</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>添加角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1002</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>更新角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1003</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>删除角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1004</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>权限分配</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1005</Id>
        </Power>
      </PowerList>
    </PowerGroup>
  </PowerGroupList>
</PowerConfig>