@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="pure-form pure-search pure-g">
    <input type="text" placeholder="输入你的关键字">
    <button type="submit" class="pure-button pure-button-primary">搜索</button>
</form>
<div class="posts">
    <h1 class="content-subhead">置顶</h1>
    <section class="post">
        <header class="post-header">
            <img class="post-avatar" alt="" height="48" width="48" src="/Content/Images/1111-avatar.jpg">

            <h2 class="post-title">介绍 Pure</h2>

            <p class="post-meta">
                由 <a href="#" class="post-author">1111</a> 发表于 2015-12-28 08:00, 阅读(3428) <a class="post-category post-category-design" href="javascript:;">CSS</a> <a class="post-category post-category-pure" href="javascript:;">Pure</a>
            </p>
        </header>

        <div class="post-description-detail">
            <p>
                昨天在CSSConf,我们推出了Pure--一个新的CSS库。在这里 <a href="https://speakerdeck.com/tilomitra/pure-bliss">speakerdeck.com</a>
                尽管它看起来很简约,我们一直致力于Pure几个月。经过多次迭代,我们已经发布了Pure作为一组轻量、响应式、CSS模块,您可以使用在每一个web项目。
            </p>
        </div>
    </section>
</div>
