<?xml version="1.0" encoding="utf-8"?>
<autofac>
  <components>
<!--MSSQLService MySQLService-->
    <component  type="Cactus.MySQLService.SiteConfigService, Cactus.MySQLService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component  type="Cactus.MySQLService.ActionGroupServer, Cactus.MySQLService" service="Cactus.IService.IActionGroupServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.ActionServer, Cactus.MySQLService" service="Cactus.IService.IActionServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.RoleServer, Cactus.MySQLService" service="Cactus.IService.IRoleServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.UserServer, Cactus.MySQLService" service="Cactus.IService.IUserServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.PowerConfigService, Cactus.MySQLService" service="Cactus.IService.IPowerConfigService,Cactus.IService" />
    <component  type="Cactus.MySQLService.CMS.ArticleServer, Cactus.MySQLService" service="Cactus.IService.CMS.IArticleServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.CMS.ColumnServer, Cactus.MySQLService" service="Cactus.IService.CMS.IColumnServer,Cactus.IService" />
<!--Store-->
    <component  type="Cactus.MySQLService.Store.CategoryServer, Cactus.MySQLService" service="Cactus.IService.Store.ICategoryServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.Store.StoreServer, Cactus.MySQLService" service="Cactus.IService.Store.IStoreServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.Store.OrderServer, Cactus.MySQLService" service="Cactus.IService.Store.IOrderServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.Store.ProductServer, Cactus.MySQLService" service="Cactus.IService.Store.IProductServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.Store.ActionConfigService, Cactus.MySQLService" service="Cactus.IService.Store.IActionConfigService,Cactus.IService" />
  
  </components>
</autofac>
