<?xml version="1.0"?>
<PowerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PowerGroupList>
    <PowerGroup>
      <GroupName>内容管理</GroupName>
      <Id>1</Id>
    </PowerGroup>
  </PowerGroupList>
  <PowerList>
    <!--内容管理-->
    <Power>
      <ParamStr>/Admin/CMS/Index</ParamStr>
      <Name>管理首页</Name>
      <IsShow>true</IsShow>
      <GroupId>1</GroupId>
      <Id>1</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ColumnIndex</ParamStr>
      <Name>栏目管理</Name>
      <IsShow>true</IsShow>
      <GroupId>1</GroupId>
      <Id>2</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ColumnAdd</ParamStr>
      <Name>添加栏目</Name>
      <IsShow>true</IsShow>
      <GroupId>1</GroupId>
      <Id>3</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ColumnUpdate</ParamStr>
      <Name>修改栏目</Name>
      <IsShow>false</IsShow>
      <GroupId>1</GroupId>
      <Id>4</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ColumnDelete</ParamStr>
      <Name>删除栏目</Name>
      <IsShow>false</IsShow>
      <GroupId>1</GroupId>
      <Id>5</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ArticleIndex</ParamStr>
      <Name>文章管理</Name>
      <IsShow>true</IsShow>
      <GroupId>1</GroupId>
      <Id>6</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ArticleAdd</ParamStr>
      <Name>添加文章</Name>
      <IsShow>true</IsShow>
      <GroupId>1</GroupId>
      <Id>7</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ArticleUpdate</ParamStr>
      <Name>修改文章</Name>
      <IsShow>false</IsShow>
      <GroupId>1</GroupId>
      <Id>8</Id>
    </Power>
    <Power>
      <ParamStr>/Admin/CMS/ArticleDelete</ParamStr>
      <Name>删除文章</Name>
      <IsShow>false</IsShow>
      <GroupId>1</GroupId>
      <Id>9</Id>
    </Power>
  </PowerList>
</PowerConfig>