<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteName>lww</SiteName>
  <SiteLogo>/Images/Logo.png</SiteLogo>
  <SiteUrl />
  <SiteCrod />
  <SiteTitle />
  <SiteKeywords />
  <SiteDescr />
  <SiteCopyRight>Copyright ©2015 漫漫洒洒</SiteCopyRight>
  <SiteStatus>false</SiteStatus>
  <SiteCountCode />
  <EmailSmtp />
  <EmailPort>25</EmailPort>
  <EmailFrom />
  <EmailUserName />
  <EmailPassword />
  <EmailNickName>lww</EmailNickName>
  <AvatarFilePath>/Upload/Avatars/</AvatarFilePath>
  <AvatarHeight>100</AvatarHeight>
  <AvatarWidth>100</AvatarWidth>
  <MediaFilePath>/Upload/Medias/</MediaFilePath>
  <ImgExtensions>*.jpg,*.gif,*.bmp,*.png</ImgExtensions>
  <DefaultAvatar>/Images/avatar.jpg</DefaultAvatar>
</SiteConfig>