<?xml version="1.0"?>
<ActionConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Group>
    <ItemGroup>
    <GroupId>0</GroupId>
    <GroupName>店铺管理</GroupName>
    </ItemGroup>
    <ItemGroup>
      <GroupId>1</GroupId>
      <GroupName>商品管理</GroupName>
    </ItemGroup>
    <ItemGroup>
      <GroupId>2</GroupId>
      <GroupName>分类管理</GroupName>
    </ItemGroup>
    <ItemGroup>
      <GroupId>3</GroupId>
      <GroupName>订单管理</GroupName>
    </ItemGroup>
    <ItemGroup>
      <GroupId>4</GroupId>
      <GroupName>数据统计</GroupName>
    </ItemGroup>
    </Group>
      <listItem>
    <ActionItem>
      <Id>9</Id>
      <Tag>0</Tag>
      <ActionName>店铺资料</ActionName>
      <ActionUrl>/Store/Store/StoreInfo</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>10</Id>
      <Tag>0</Tag>
      <ActionName>店铺美化</ActionName>
      <ActionUrl>/Store/Store/StoreTheme</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>1</Id>
      <Tag>1</Tag>
      <ActionName>增加商品</ActionName>
      <ActionUrl>/Store/Store/ProductAdd</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>2</Id>
      <Tag>1</Tag>
      <ActionName>商品列表</ActionName>
      <ActionUrl>/Store/Store/ProductIndex</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>3</Id>
      <Tag>2</Tag>
      <ActionName>增加类别</ActionName>
      <ActionUrl>/Store/Store/CategoryAdd</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>4</Id>
      <Tag>2</Tag>
      <ActionName>类别列别</ActionName>
      <ActionUrl>/Store/Store/CategoryIndex</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>5</Id>
      <Tag>3</Tag>
      <ActionName>当前订单</ActionName>
      <ActionUrl>/Store/Store/OnlineOrder</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>6</Id>
      <Tag>3</Tag>
      <ActionName>历史订单</ActionName>
      <ActionUrl>/Store/Store/OfflineOrder</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>7</Id>
      <Tag>4</Tag>
      <ActionName>资金统计</ActionName>
      <ActionUrl>/Store/Store/MoneyStatistics</ActionUrl>
    </ActionItem>
    <ActionItem>
      <Id>8</Id>
      <Tag>4</Tag>
      <ActionName>总体统计</ActionName>
      <ActionUrl>/Store/Store/TotalStatistics</ActionUrl>
    </ActionItem>
  </listItem>
</ActionConfig>