@{
    Layout = null;
    var keys = ViewData["CacheKey"] as Dictionary<string, string>;
}

<div class="pure-g">
<a href="javascript:;" name="CacheAll" class="pure-link pure-link-red">重置全部</a>
</div>

<table class="pure-table pure-table-bordered" id="table_cache">
    <thead>
        <tr>
            <th>缓存Key</th>
            <th>详细说明</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in keys)
        {
        
            <tr>
                <td>@i.Key</td>
                <td>@i.Value</td>
                <td>
                    <a href="javascript:;" data-key="@i.Key" class="pure-link pure-link-red">重置缓存</a>
                    <div class="pure-error pure-c-error"></div>
                </td>
            </tr>
            
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {

        $('a[name=CacheAll]').bind('click', function () {
            var $target = $(this);
            loadDialog_show();
            $.ajax({
                type: "GET",
                url: "/Admin/Sys/CacheClear",
                dataType: "json",
                success: function (rsp) {
                    loadDialog_hide();
                    $target.next('.pure-c-error').html(rsp.msg);
                },
                error: function (e, s, t) {
                    //alert('error');
                    //alert('网络错误');
                }
            });
        });

        $('#table_cache a.pure-link').bind('click', function () {
            var $target = $(this);
            var key = $target.attr('data-key');
            if (key == '' || key == undefined) { return; }
            loadDialog_show();
            $.ajax({
                type: "POST",
                url: "/Admin/Sys/CacheClearKey",
                data: { key: key },
                dataType: "json",
                success: function (rsp) {
                    loadDialog_hide();
                    $target.next('.pure-c-error').html(rsp.msg);
                },
                error: function (e, s, t) {
                    //alert('error');
                    //alert('网络错误');
                }
            });
        });
    })

    
</script>
