@{
    Layout = null;
}

<div class="pure-g">
    <a href="javascript:;" onclick="loadContent_Jq('main-content', '/Admin/Sys/CenterUser');" class="pure-link pure-link-black">返回</a>
</div>

<form class="pure-form  pure-form-aligned">
    <fieldset>
        <legend>修改密码</legend>
        <div class="pure-control-group">
            <label>旧密码</label>
            <div class="pure-u-auto">
                <div class="pure-lable">
                    <input name="pwded" type="password" value="" placeholder="旧密码" />
                </div>
            </div>
        </div>
        <div class="pure-control-group">
            <label>新密码</label>
            <div class="pure-u-auto">
                <div class="pure-lable">
                    <input name="pwding" type="password" value="" placeholder="新密码"/>
                </div>
            </div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">保存</button>
        </div>
    </fieldset>
</form>

<script type="text/javascript">

</script>
