body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

#layout {
    padding: 0px;
}

.body-theme {
    background-color: rgb(255,255,255);
}

.left-layout {
    background-color: rgb(84,75,176);
    position: fixed;
    top: 0px;
    bottom: 0px;
}

.right-layout {
    padding: 0;
    margin-left: 12.5%;
}

.logo-img {
    background-image: url(Images/1111-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    height: 48px;
}

.logo-font {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#main-content {
    padding: 85px 10px 0px 10px;
}

#nav {
    background-color: rgb(241,237, 248);
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#nav-tree {
    top: 40px;
}

    #nav-tree ul {
        float: right;
    }

#nav-tree {
    top: 40px;
}

    #nav-tree .pure-menu-item {
    }

    #nav-tree .pure-menu-link:focus {
        background-color: rgb(58,149,222);
        color: rgb(255,255,255);
    }

    #nav-tree .pure-menu-link:hover {
        background-color: rgb(58,149,222);
        color: rgb(255,255,255);
    }

    #nav-tree .pure-menu-item.pure-menu-disabled {
    }

    #nav-tree .pure-menu-item.pure-menu-selected {
        background-color: rgb(58,149,222);
        color: rgb(255, 255, 255);
    }

    #nav-tree .pure-menu-selected .pure-menu-link {
        color: rgb(255, 255, 255);
    }

#menu-tree .pure-menu-list {
}

#menu-tree .pure-menu-item {
}

#menu-tree .pure-menu-link {
    color: rgb(255, 255, 255);
    padding-left: .3em;
}

#menu-tree span.pure-menu-heading {
    color: rgb(255,255,255);
    height: 80px;
    margin-bottom: 15px;
    padding-left: .3em;
}

#menu-tree div.pure-menu-heading {
    color: rgb(255,255,255);
    height: 80px;
    margin-top: 1em;
    padding-left: .3em;
}

#menu-tree .pure-menu-link:focus {
    background-color: rgb(177,173,219);
    color: rgb(0, 0, 0);
}

#menu-tree .pure-menu-link:hover {
    background-color: rgb(177,173,219);
    color: rgb(0, 0, 0);
}

.copyright-font {
    padding-top: 50px;
    float: left;
    height: 60px;
    font-size: 11px;
    text-transform: capitalize;
    word-wrap: break-word;
    word-break: normal;
    white-space: normal;
}

.tool-img {
    border-radius: 3px;
    border: 0px none;
    margin: auto;
    height: 32px;
    width: 32px;
}

.tool-font {
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    margin: auto;
    position: absolute;
    top: 5px;
    left: 2.6em;
}
