@{
    Layout = null;
}

<table class="pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th>名称</th>
            <th>修改时间</th>
            <th>大小</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><i class="fa fa-folder-open-o"></i>上级</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td><i class="fa fa-folder"></i>1111</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>
                <a href="javascript:;" class="pure-link pure-link-red">删除</a>
                <a href="javascript:;" class="pure-link pure-link-red">重命名</a>
            </td>
        </tr>
        <tr>
            <td><i class="fa fa-file-o"></i>1111</td>
            <td>Honda</td>
            <td>Accord</td>
            <td><a href="javascript:;" class="pure-link pure-link-red">删除</a>
                <a href="javascript:;" class="pure-link pure-link-red">重命名</a>
            </td>
        </tr>
        <tr>
            <td><i class="fa fa-file-o"></i>1111</td>
            <td>Honda</td>
            <td>Accord</td>
            <td><a href="javascript:;" class="pure-link pure-link-red">删除</a>
                <a href="javascript:;" class="pure-link pure-link-red">重命名</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pure-g">
    <a href="javascript:;" class="pure-link pure-link-red">上传</a>
</div>
