@using Cactus.ViewModel
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        searchForm("");
        $('.down-content form button').bind("click", function () {
            console.log("where:"+$('.down-content form input[type=text]').val())
            searchForm($('.down-content form input[type=text]').val())
        })
        $('#actionlist input[name=aid_g][type=checkbox]').bind("click", function () {
            $('#actionlist input[name=aid][type=checkbox]').each(function () {
                $(this).attr("checked", !($(this).is(':checked')))
            })
        })
    })
    function searchForm(where) {
        PageTable(10, 1, "#actionlist", "/Admin/Admin/ActionList", where,
                    [{
                        field: "Action_Id", formatter: function (val, rec) {
                            return "<input name=\"aid\" type=\"checkbox\" value=\""+val+"\">";
                        }
                    },
                    { field: "Action_Id" },
                    { field: "ActionName" },
                    { field: "ActionUrl" },
                    { field: "ActionGroupName" },
                    {
                        field: "Action_Id", formatter: function (val, rec) {
                            return "<a href=\"javascript:;\" onclick=\"loadContent('/Admin/Admin/ActionUpdate?aid=" + val + "',true)\">修改</a>";
                        }
                    }])
    }

</script>
<form class="pure-form">
    <fieldset>
        <legend>命令列表</legend>
        <input type="text" placeholder="">
        <button type="button" class="pure-button pure-button-primary">ok</button>
    </fieldset>
</form>
<div style="margin:5px 0px 5px 0px;">
    <a href="javascript:;" class="button-success pure-button"
        data-ajax="true"
        data-ajax-before="SetDel"
        data-ajax-url="/Admin/Admin/ActionDelete"
        data-ajax-loading="#load"
        data-ajax-confirm="确定删除"
        data-ajax-type="json"
        data-ajax-success="if(data.pass){loadContent(data.url);}else{alert(data.error);}">删除</a>
</div>
<table id="actionlist" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th><input name="aid_g" type="checkbox" title="全选/反选"></th>
            <th>#</th>
            <th>命令名</th>
            <th>命令参数</th>
            <th>分组名</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>