@{
    Layout = null;
    var al = ViewData["ActionGroup"] as List<Cactus.Model.Sys.ActionGroup>;
}
<script>
    function validateForm() {
        var b = $("#actionadd").validate({
            onsubmit:false,
            errorPlacement: function (error, element) {
                $(element).tipso({
                    useTitle: false,
                    speed: 400,
                    position: 'right',
                    onShow: function () {
                        //$(element).tipso('destroy');
                        //alert($(error).html())
                    },
                    onHide: function () {
                        $(element).tipso('destroy');
                        //alert($(error).html())
                    }
                });
                $(element).tipso('update', 'content', $(error).html());
                $(element).tipso('show');
                return false;
            }
        }).form();

        //.element($("[data-val=true]"));
        return b;
    }
    function successForm(data, status, xhr) {
        if (data.pass) {
            loadContent(data.url)
        } else {
            alert(data.error)
        }
    }
</script>
<form id="actionadd" class="pure-form pure-form-stacked" 
    data-ajax="true" 
    data-ajax-url="/Admin/Admin/ActionAdd" 
    data-ajax-loading="#load" 
    data-ajax-loading-duration="1000" 
    data-ajax-method="post" 
    data-ajax-confirm="确定添加" 
    data-ajax-begin="validateForm"
    data-ajax-success="successForm"
    data-ajax-type="json">
    <fieldset>
        <legend>添加操作命令</legend>

        <label>命令名</label>
        <input name="ActionName" type="text" placeholder="请输入命令名" data-val="true" data-rule-required="true"  data-msg-required="命令名不能为空" data-rule-stringLength="20" data-msg-stringLength="命令名长度为20">

        <label>命令参数</label>
        <input name="ActionParm" type="text" placeholder="请输入命令参数" data-val="true"  data-rule-required="true"  data-msg-required="命令参数不能为空">

         <label>分组名</label>
         <select name="ActionGroupId">
            @foreach(var i in al){
                <option value="@(i.ActionGroup_Id)">@(i.ActionGroupName)</option>
            }
         </select>

        <button type="submit" class="pure-button pure-button-primary">添加</button>
    </fieldset>
</form>