@model Cactus.ViewModel.ActionGroupViewModel
@{
    Layout = null;
}
<script>
    function validateForm() {
        var b = $("#actionGroupUpdate").validate({
            onsubmit:false,
            errorPlacement: function (error, element) {
                $(element).tipso({
                    useTitle: false,
                    speed: 400,
                    position: 'right',
                    onShow: function () {
                        //$(element).tipso('destroy');
                        //alert($(error).html())
                    },
                    onHide: function () {
                        $(element).tipso('destroy');
                        //alert($(error).html())
                    }
                });
                $(element).tipso('update', 'content', $(error).html());
                $(element).tipso('show');
                return false;
            }
        }).form();

        //.element($("[data-val=true]"));
        return b;
    }
    function successForm(data, status, xhr) {
        if (data.pass) {
            loadContent(data.url)
        } else {
            alert(data.error)
        }
    }
</script>
<form class="pure-form pure-form-stacked"
    id="actionGroupUpdate" 
    data-ajax="true" 
    data-ajax-url="/Admin/Admin/ActionGroupUpdate" 
    data-ajax-loading="#load" 
    data-ajax-loading-duration="1000" 
    data-ajax-method="post" 
    data-ajax-confirm="确定修改" 
    data-ajax-begin="validateForm"
    data-ajax-success="successForm"
    data-ajax-type="json"
    >
    <input name="ID" type="hidden" value="@(Model.Id)" >
    <fieldset>
        <legend>修改分组名</legend>

        <label for="email">分组名</label>
        <input name="GroupName" value="@(Model.GroupName)"  type="text" placeholder="请输入分组名" data-val="true" data-rule-required="true"  data-msg-required="分组名不能为空" data-rule-stringLength="20" data-msg-stringLength="分组名长度为20">

        <button type="submit" class="pure-button pure-button-primary">修改</button>
    </fieldset>
</form>