@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        searchForm("");
        //$('.down-content form button').bind("click", function () {
        //    console.log("where:"+$('.down-content form input[type=text]').val())
        //    searchForm($('.down-content form input[type=text]').val())
        //})
        $('#userList input[name=aid_g][type=checkbox]').bind("click", function () {
            $('#userList input[name=aid][type=checkbox]').each(function () {
                $(this).attr("checked", !($(this).is(':checked')))
            })
        })
    })
    function searchForm(where) {
        PageTable(10, 1, "#userList", "/Admin/Admin/UserList", where,
                    [{
                        field: "User_Id", formatter: function (val, rec) {
                            return "<input name=\"aid\" type=\"checkbox\" value=\""+val+"\">";
                        }
                    },
                    { field: "User_Id" },
                    { field: "Name" },
                    { field: "NickName" },
                    { field: "RoleName" },
                    { field: "AddTime" },
                    { field: "LastLoginTime" },
                    {
                        field: "User_Id", formatter: function (val, rec) {
                            var htmlstr = "<a href=\"javascript:;\" onclick=\"loadContent('/Admin/Admin/UserInfo/" + val + "',true)\">查看</a>";

                            return htmlstr;
                        }
                    }])
    }

</script>
<div style="margin:5px 0px 5px 0px;">
    <a href="javascript:;" class="button-success pure-button"
        data-ajax="true"
        data-ajax-before="SetDel"
        data-ajax-url="/Admin/Admin/UserDelete"
        data-ajax-loading="#load"
        data-ajax-confirm="确定删除"
        data-ajax-type="json"
        data-ajax-success="if(data.pass){loadContent(data.url);}else{alert(data.error);}">删除</a>
</div>
<table id="userList" class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th><input name="aid_g" type="checkbox" title="全选/反选"></th>
            <th>#</th>
            <th>账户名</th>
            <th>昵称</th>
            <th>角色名</th>
            <th>创建时间</th>
            <th>最后登录时间</th>
            <th>操作</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>
