<?xml version="1.0" encoding="utf-8"?>
<autofac>
  <components>
<!--数据源-->    
<!--MSSQLService MySQLService SQLiteService-->
<!--
    <component  type="Cactus.MySQLService.SiteConfigService, Cactus.MySQLService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component  type="Cactus.MySQLService.ActionServer, Cactus.MySQLService" service="Cactus.IService.IActionServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.RoleServer, Cactus.MySQLService" service="Cactus.IService.IRoleServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.UserServer, Cactus.MySQLService" service="Cactus.IService.IUserServer,Cactus.IService" />
    <component  type="Cactus.MySQLService.PowerConfigService, Cactus.MySQLService" service="Cactus.IService.IPowerConfigService,Cactus.IService" />
-->
    <component  type="Cactus.SQLiteService.SiteConfigService, Cactus.SQLiteService" service="Cactus.IService.ISiteConfigService,Cactus.IService" />
    <component  type="Cactus.SQLiteService.ActionServer, Cactus.SQLiteService" service="Cactus.IService.IActionServer,Cactus.IService" />
    <component  type="Cactus.SQLiteService.RoleServer, Cactus.SQLiteService" service="Cactus.IService.IRoleServer,Cactus.IService" />
    <component  type="Cactus.SQLiteService.UserServer, Cactus.SQLiteService" service="Cactus.IService.IUserServer,Cactus.IService" />
    <component  type="Cactus.SQLiteService.PowerConfigService, Cactus.SQLiteService" service="Cactus.IService.IPowerConfigService,Cactus.IService" />
  </components>
</autofac>
