<?xml version="1.0"?>
<PowerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PowerGroupList>
    <PowerGroup>
      <GroupName>个人中心</GroupName>
      <IsShow>false</IsShow>
      <Id>100</Id>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Sys/UserIndex</ParamStr>
          <Name>个人中心</Name>
          <IsShow>true</IsShow>
          <GroupId>100</GroupId>
          <Id>1008</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>修改密码</Name>
          <IsShow>false</IsShow>
          <GroupId>100</GroupId>
          <Id>1009</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>修改头像</Name>
          <IsShow>false</IsShow>
          <GroupId>100</GroupId>
          <Id>1010</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>更改资料</Name>
          <IsShow>false</IsShow>
          <GroupId>100</GroupId>
          <Id>1011</Id>
        </Power>
      </PowerList>
    </PowerGroup>
    <PowerGroup>
      <GroupName>网站设置</GroupName>
      <IsShow>true</IsShow>
      <Id>101</Id>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Sys/RoleList</ParamStr>
          <Name>角色管理</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1001</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>添加角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1002</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>更新角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1003</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>删除角色</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1004</Id>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysIndex</ParamStr>
          <Name>网站参数</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1005</Id>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/SysImage</ParamStr>
          <Name>基本图片</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1006</Id>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/CacheManage</ParamStr>
          <Name>缓存管理</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1007</Id>
        </Power>
        <Power>
          <ParamStr>/Admin/Sys/UserIndex</ParamStr>
          <Name>用户管理</Name>
          <IsShow>true</IsShow>
          <GroupId>101</GroupId>
          <Id>1012</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>删除用户</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1013</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>修改用户</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1014</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>增加用户</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1015</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>重置用户密码</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1016</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>更改用户头像</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1017</Id>
        </Power>
        <Power>
          <ParamStr />
          <Name>查看用户详细信息</Name>
          <IsShow>false</IsShow>
          <GroupId>101</GroupId>
          <Id>1018</Id>
        </Power>      
      </PowerList>
    </PowerGroup>
    <PowerGroup>
      <GroupName>博客管理</GroupName>
      <IsShow>true</IsShow>
      <Id>100</Id>
      <PowerList>
        <Power>
          <ParamStr>/Admin/Blog/Index</ParamStr>
          <Name>文章列表</Name>
          <IsShow>true</IsShow>
          <GroupId>102</GroupId>
          <Id>2001</Id>
        </Power>
        <Power>
          <ParamStr>/Admin/Blog/FileManage</ParamStr>
          <Name>文件管理</Name>
          <IsShow>true</IsShow>
          <GroupId>102</GroupId>
          <Id>2002</Id>
        </Power>
      </PowerList>
    </PowerGroup>
  </PowerGroupList>
</PowerConfig>